@charset "utf-8";
/* CSS Document */

body {
	background: #000;
	font-size: 100%;
	
}

.container {
	background:white;
	width: 800px;
	border-radius: 5px;
	margin: auto;
	overflow: hidden;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: repeat(2, auto);
	grid-template-areas: 
		"header header header"
		"nav section aside";
}

.header {
	grid-area: header;
	background: gray;
	display: flex;
	justify-content: center;
}

.nav {
	grid-area: nav;
	background: rgb(235, 162, 162);
}

ul {
	list-style-type: none;
}

.section {
	grid-area: section;
	background: rgb(240, 240, 178);
	/* display: flex; */
	
}

.aside {
	grid-area: aside;
	background: rgb(160, 160, 238);
}

h2 {
	text-align: center;
	margin: 5px;
}
p {
	margin-left: 15px;
	margin-right: 10px;
}

@media screen and (max-width: 800px) {
	
	.container {
		width: auto;
		grid-template-areas: 
			"header header header"
			"nav nav nav"
			"section section section"
			"aside aside aside";
	}
}